<div class="detail-container">
    <div *ngIf="selectedStock !== null; else noContent" class="details">
        <div class="heading">
            {{selectedStock.name | uppercase }} - {{selectedStock.id | uppercase }}
        </div>
        <div>
            <table>
                <thead>
                    <th>
                        Price
                    </th>
                    <th>
                        Ask
                    </th>
                    <th>
                        Bid
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedStock.prices">
                        <td>
                            {{item.price | currency:'USD':'symbol':'.2-2'}}
                        </td>
                        <td>
                            {{item.ask | currency:'USD':'symbol':'.2-2'}}
                        </td>
                        <td>
                            {{item.bid | currency:'USD':'symbol':'.2-2'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-template #noContent>
        <div class="no-content">
            <div class='logo'>
                <app-logo></app-logo>

            </div>
            <div class="no-content-sub-heading">Click on subscribed stock name to see detailes</div>
        </div>
    </ng-template>
</div>