.list-item {
    display: flex;
    .label {
        font-weight: 700;
    }
    .price {
        margin-left: auto;
    }
    .action {
        span {
            font-weight: 500;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.clickable{
    cursor: pointer;
}
.non-clickable{
    pointer-events: none;
    cursor: none;
}