<div class="list-item" [class.clickable]="item.subscribed" [class.non-clickable]="!item.subscribed"
    (click)="selectStock.emit(item)">
    <div class="label">
        {{item.name}}
    </div>
    <div class="price">
        <span *ngIf="item.subscribed && item.prices">{{currentPrice | currency:'USD':'symbol':'.2-2'}}</span>
    </div>
    <div class="action">
        <span *ngIf="item.subscribed; else unsubscribe" title="unsubscribe">
            -
        </span>
        <ng-template #unsubscribe>
            <span title="subscribe">
                +
            </span>
        </ng-template>
    </div>
</div>