<div class="list-item">
    <div class="label" (click)="selectStock.emit(item)" [class.clickable]="item.subscribed"
        [class.non-clickable]="!item.subscribed">
        {{item.name}}
    </div>
    <div class="price">

        <span [class.green]="priceChange()" [class.red]="item.prices && !priceChange()"
            *ngIf="item.subscribed && item.prices">{{this.item.prices![0].price | currency:'USD':'symbol':'.2-2'}}</span>
    </div>
    <div class="action">
        <span *ngIf="item.subscribed; else subscribe" title="unsubscribe" (click)="unsubscribeEvent()">
            -
        </span>
        <ng-template #subscribe>
            <span title="subscribe" (click)="subscribeEvent()">
                +
            </span>
        </ng-template>
    </div>
</div>